__pycache__/
*.py[cod]

venv/
.env

.idea/
*.sublime-project
*.sublime-workspace
*.vscode/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST